.grid {
  border: solid black;
  display: grid;
  grid-template-columns: 0.1fr 0.2fr 0.6fr 0.1fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.container {
  border: solid yellow;
  grid-column: 2 / 4;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav-bar {
  border: solid red;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.form {
  border: solid blue;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.form-input {
  border: solid burlywood;
  margin-top: 100px;
}

.info2 {
  border: solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 500px;
}

.input-sec2 {
  border: solid yellow;
  display: flex;
  flex-direction: column;
  margin-left: -220px;
}

.input-sec {
  border: solid yellow;
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin: 25px 0;
}

.toggle_radio {
  position: relative;
  background: blue;
  opacity: .7;
  margin: 4px auto;
  /* overflow: hidden; */
  padding: 0 !important;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  height: 26px;
  width: 424px;
}

.toggle_radio > * {
  float: left;
}

.toggle_radio input[type=radio] {
  display: none;
}

.toggle_radio label {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
  opacity: .9;
  z-index: 0;
  display: block;
  width: 100px;
  height: 20px;
  margin-left: 3px;
  margin-top: 10px;
  -webkit-border-radius: 50px;
  -mox-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  text-align: center;
}

.toggle_option_slider {
  width: 100px;
  height: 20px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider {
  background:yellow;
  opacity: .3;
  left: 3px;
}

#second_toggle:checked ~ .toggle_option_slider {
  background: yellow;
  opacity: .3;
  left: 109px;
}

#third_toggle:checked ~ .toggle_option_slider {
  background: yellow;
  opacity: .3;
  left: 215px;
}

#fourth_toggle:checked ~ .toggle_option_slider {
  background: yellow;
  opacity: .3;
  left: 321px;
}