.grid {
  border: solid black;
  display: grid;
  grid-template-columns: 0.1fr 0.2fr 0.6fr 0.1fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.container {
  border: solid yellow;
  grid-column: 2 / 4;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav-bar {
  border: solid red;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.form {
  border: solid blue;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

/* The switch - the box around the slider */
.switch-toggle {
  border: solid green;
  position: relative;
  display: inline-block;
  width: 250px;
  height: 34px;
}

/* Hide default HTML radio buttons */
.switch-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The Slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  trasnstion: .4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* .toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  -webkit-transition: .5s;
  transition: .5s;
}

#btn:before {
  position: absolute;
  height: 26px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: .5s;
  transition: .5s;
}

#btn {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
} */