.grid {
  border: solid black;
  display: grid;
  grid-template-columns: 0.1fr 0.2fr 0.6fr 0.1fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.container {
  border: solid yellow;
  grid-column: 2 / 4;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav-bar {
  border: solid red;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 30%;
  border-radius: 30px 0 0 30px;
  text-align: center;
  background-color: #494A62;
}

.form {
  border: solid blue;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  border-radius: 0 30px 30px 0;
  background-color: #EADDDC;
}

h2 {
  border: solid pink;
  width: 50%;
  margin-left: 200px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #494A62;
}

label {
  font-family: Helvetica, Arial, sans-serif;
  color: #9995A1;
}

h4 {
  font-family: Helvetica, Arial, sans-serif;
  color: #EADDDC;
}

h5 {
  font-family: Helvetica, Arial, sans-serif;
  color: #EADDDC;
  margin-top: 150px;
}

.logo {
  display: flex;
  margin-left: 30px;
  margin-top: 25px;
}

.nav-bar .circle-icon {
  color: black;
  background: #E8E8E8;
  width: 8px;
  height: 8px;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
}

.form-input {
  border: solid burlywood;
  margin-top: 75px;
}

.form-input input {
  background-color: #E8E8E8;
  border: none;
  height: 35px;
}

.form-input label {
  font-size: 8pt;
}

.info2 {
  border: solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 500px;
  margin-left: 120px;
}


.input-sec2 {
  border: solid yellow;
  display: flex;
  flex-direction: column;
  margin-left: -220px;
}

.input-sec {
  border: solid yellow;
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin: 25px 0;
}

.toggle_radio {
  position: relative;
  background: #E8E8E8;
  opacity: .7;
  margin: 4px auto;
  /* overflow: hidden; */
  padding: 0 !important;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  height: 26px;
  width: 424px;
}

.wrapper:before {
  content: 'Weight';
  font-family: Helvetica, Arial, sasn-serif;
  font-size: 8pt;
  color: #9995A1;
  margin-left: 142px;
}

.toggle_radio > * {
  float: left;
}

.toggle_radio input[type=radio] {
  display: none;
}

.toggle_radio label {
  font-family: Helvetica, Arial, sans-serif;
  color: #494A62;
  opacity: .9;
  z-index: 0;
  display: block;
  width: 100px;
  height: 20px;
  margin-left: 3px;
  margin-top: 10px;
  -webkit-border-radius: 50px;
  -mox-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  text-align: center;
}

.toggle_option_slider {
  width: 100px;
  height: 20px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider {
  background:#E7C5C4;
  left: 3px;
}

#second_toggle:checked ~ .toggle_option_slider {
  background: #E7C5C4;
  left: 109px;
}

#third_toggle:checked ~ .toggle_option_slider {
  background: #E7C5C4;
  left: 215px;
}

#fourth_toggle:checked ~ .toggle_option_slider {
  background: #E7C5C4;
  left: 321px;
}